.container {
  flex-grow: 1;
  background-color: var(--light-background);
  padding-top: 80px;
  padding-bottom: 184px;
}

.wrapper {
  max-width: 1570px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 64px;

  @media screen and (max-width: 1040px) {
    max-width: 370px;
  }
}
