.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 16px;
  width: 329px;
  height: 48px;
  background: var(--white);
  border: 1px solid var(--light-background);
  border-radius: 6px;
  background-image: url("../../../assets/arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 308px;
  background-position-y: 21px;

  &::-ms-expand {
    display: none;
  }
}
