@import "./normalize.scss";

:root {
  --green-light: #4fe24a;
  --green-middle: #16cd53;
  --font-color: #391400;
  --dark-background: #28293e;
  --light-background: #fdf0e9;
  --black-primary: #121212;
  --white: #fff;
}

* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
}

body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Helvetica,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--gray-background);
}

button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  height: auto;
  left: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  width: auto;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
