@import "../../../styles/mixins.scss";

/* stylelint-disable */
@include fadein;
/* stylelint-enable */

.card {
  width: 370px;
  height: 416px;
  border-radius: 6px;
  border: 7px solid var(--light-background);
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  animation: 0.7s fadein;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
  pointer-events: none;
  user-select: none;
}

.active {
  border-color: var(--green-light);

  .img {
    border-radius: 0;
  }
}

.category,
.infoBox {
  position: absolute;
}

.infoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 102px;
  left: 48px;
  bottom: 58px;
  z-index: 1;

  .category {
    padding: 0 16px;
    height: 38px;
    border-radius: 19px;
    background-color: var(--white);
    font-size: 16px;
    line-height: 32px;
    color: var(--font-color);
    font-weight: 400;
    transition: all 0.3s ease;

    &:hover,
    &:active,
    &:focus {
      color: var(--green-middle);
    }
  }

  .name {
    margin-top: auto;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: var(--white);
  }
}
